name: Release
run-name: Release @ Aegis Icons - ${{ github.sha }}

on:
  push:
    branches:
      - master

env:
  zipname:  aegis-icons.zip

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Get current date
        run: echo "CURRENT_DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Execute py script
        run: python make-pack.py gen-def

      - name: Commit json
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update pack.json
    
      - name: Execute py script
        run: python make-pack.py gen --output ${{ env.zipname }} --version ${{ env.CURRENT_DATE }}

      - name: Create a GitHub release
        uses: softprops/action-gh-release@v0.1.15
        with:
          files: ${{ env.zipname }}
          name: v${{ env.CURRENT_DATE }}
          tag_name: v${{ env.CURRENT_DATE }}
      
